<ol class="breadcrumb">
  <li><a ui-sref="home">Projects</a></li>
  <li><a ui-sref="members({projectId:ctrl.project.id})">Members</a></li>
  <li class="active">{{ctrl.member.name}}</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-lg-1">
      <a class="thumbnail" >
       <img class="img-responsive" width="90px" ng-src="{{ctrl.member.person.imageUrl}}">
      </a>
    </div>
    <div class="col-lg-6">
     <h2>
      {{ctrl.member.person.name}}<br/>
      <small>{{ctrl.project.name}}</small>
     </h2>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
         <li class="list-group-item list-group-item-info">
          Current stats
        </li>
        <li class="list-group-item">
          <span class="badge">{{ctrl.query.stories.stories.length}}</span>
          <i class="fa fa-minus"></i>
          Total stories
        </li>
        <li class="list-group-item">
          <span class="badge">{{ctrl.stats.types.feature}}</span>
          <i class="fa fa-star text-warning" tooltip="Feature"></i>
          Features
        </li>
        <li class="list-group-item">
          <span class="badge">{{ctrl.stats.types.chore}}</span>
          <i class="fa fa-cog text-info" tooltip="Chore"></i>
          Chores
        </li>
        <li class="list-group-item">
          <span class="badge">{{ctrl.stats.types.bug}}</span>
          <i class="fa fa-bug text-danger" tooltip="Bug"></i>
          Bugs
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          States
        </li>
        <li class="list-group-item">
          <span class="badge">{{ctrl.stats.states.finished}}</span>
          <i class="fa fa-check-circle-o text-success"></i>
          Finished
        </li>
        <li class="list-group-item">
          <span class="badge">{{ctrl.stats.states.delivered}}</span>
          <i class="fa fa-rocket text-warning"></i>
          Delivered
        </li>
        <li class="list-group-item">
          <span class="badge">{{ctrl.stats.states.unstartedTotal}}</span>
          <i class="fa fa-stop"></i>
          Unstarted
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-1">
             <a ng-click="ctrl.showDescriptions();">
              <i class="fa fa-2x" tooltip="Show descriptions" ng-class="ctrl.show.description?'fa-caret-square-o-down':'fa-caret-square-o-up'"></i>
            </a>
          </div>
           <div class="col-md-3">
            <h3 class="panel-title">Current Stories</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group" >
          <li class="list-group-item" ng-repeat="story in ctrl.query.stories.stories | orderBy:['story_type','created_at']:true">
            
            <div class="row" >
               <div class="col-lg-1">
                  <i ng-if="story.story_type=='feature'" class="fa fa-2x fa-star text-warning" tooltip="Feature"></i>
                  <i ng-if="story.story_type=='chore'" class="fa fa-2x fa-cog text-info" tooltip="Chore"></i>
                  <i ng-if="story.story_type=='bug'" class="fa fa-2x fa-bug text-danger" tooltip="Bug"></i>
                  <i ng-if="story.story_type=='release'" class="fa fa-2x fa-flag-checkered" tooltip="Release"></i>
                  <i ng-if="story.story_type=='feature' && !story.estimate" class="fa fa-exclamation-triangle fa-2x text-danger" tooltip="Need estimation"></i>
              </div>
              <div class="col-lg-6">
                  <p class="lead">{{story.name}}</p>
                  <p ng-show="ctrl.show.description" class="animated" ng-class="{'fadeIn':ctrl.show.description}"><small>{{story.description}}</small></p>
              </div>
              <div class="col-lg-2">
                <i ng-if="story.current_state=='finished'" class="fa fa-2x fa-check-circle-o text-success" tooltip="Finished"></i>
                <i ng-if="story.current_state=='delivered'" class="fa fa-2x fa-rocket text-warning" tooltip="Delivered"></i>
                <i ng-if="story.current_state=='planned'" class="fa fa-2x fa-stop" tooltip="Unstarted"></i>
                <i ng-if="story.current_state=='unscheduled'" class="fa fa-2x fa-stop" tooltip="Unstarted"></i>
                <i ng-if="story.current_state=='unstarted'" class="fa fa-2x fa fa-stop" tooltip="Unstarted"></i>
              </div>
              <div class="col-lg-2">
                <span am-time-ago="story.created_at"></span>
              </div>
              
              <div class="col-lg-2">
                <a target="_blank" href="https://www.pivotaltracker.com/story/show/{{story.id}}">{{story.id}}</a>
              </div>
            </div>
            
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
